In [1]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [ ]:
# 데이터프레임 df를 복제하여 변수 df2에 저장. df2의 1개 행(row)을 삭제
df2 = df.copy() # 리스트 복사를 하는 것과 동일 하게 복사를 할때 이렇게 한다.
                # 가변객체와 유사한건가?
                # 리스트에서 list2 = list1.copy()나 list2 = list1[:]로 복사하는 것과 비슷한 개념이에요.
                # 가변 객체(리스트, 딕셔너리, DataFrame 등)는 그냥 =로 할당하면 주소를 공유하게 되고, 원본도 영향을 받습니다.
df2 = df2.drop('우현')
print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [ ]:
# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row)을 삭제
df3 = df.copy()
df3 = df3.drop(['우현', '인아'], axis=0) # axis = 'index'와 동일
# axis = 0 혹은 axis = 'index' : 기준이 행
# axis = 1 혹은 axis = 'coloumns' : 기준이 열
# index 도 가능하다.

# drop()은 기본적으로 행 이름(index) 기준으로 삭제합니다.
# df2.drop('우현')는 index='우현'인 행을 삭제한 새 DataFrame을 반환합니다.
# 원본 df2를 수정하려면 다시 변수에 저장하거나, inplace=True를 사용합니다.
print(df3)

    수학  영어  음악   체육
서준  90  98  85  100

In [5]:
# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 2개 행(row)을 삭제
df4 = df.copy()
df4 = df4.drop(['우현', '인아'], axis='index')
print(df4)

    수학  영어  음악   체육
서준  90  98  85  100

In [6]:
# 데이터프레임 df를 복제하여 변수 df5에 저장. df5의 1개 행(row)을 삭제
df5 = df.copy()
df5 = df5.drop(index=['우현'])
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90